In [1]:
import pandas as pd

In [2]:
df_gb = pd.read_csv('submissions/earthk_submission_05feb_1504.csv')

In [5]:
df_rnn = pd.read_csv('submissions/earthq_submission_08feb_1512_rnn.csv')

In [6]:
df_gb.head()

       seg_id  time_to_failure
0  seg_00030f         2.661882
1  seg_0012b5         5.644592
2  seg_00184e         5.080967
3  seg_003339         8.406590
4  seg_0042cc         7.287800

In [7]:
df_rnn.head()

       seg_id  time_to_failure
0  seg_00030f         2.672911
1  seg_0012b5         5.499267
2  seg_00184e         5.405849
3  seg_003339         8.436362
4  seg_0042cc         6.311009

In [45]:
new_prediction = (df_gb['time_to_failure'] + df_rnn['time_to_failure']) / 2

In [47]:
new_prediction[0:5]

0    2.667396
1    5.571929
2    5.243408
3    8.421476
4    6.799405
Name: time_to_failure, dtype: float64

In [29]:
#new_prediction = new_prediction.astype(pd.np.int64)

In [48]:
submission = pd.read_csv('input/sample_submission.csv', index_col='seg_id')

In [51]:
submission.head()

            time_to_failure
seg_id
seg_00030f              NaN
seg_0012b5              NaN
seg_00184e              NaN
seg_003339              NaN
seg_0042cc              NaN

In [37]:
type(submission.time_to_failure.iloc[0])

numpy.int64

In [38]:
type(new_prediction)

pandas.core.series.Series

In [50]:
submission['time_to_failure'] = new_prediction

In [42]:
submission.shape

(2624, 1)

In [43]:
new_prediction.shape

(2624,)

In [53]:
df_gb['time_to_failure'] = (df_gb['time_to_failure'] + df_rnn['time_to_failure']) / 2

In [52]:
df_gb.head()

       seg_id  time_to_failure
0  seg_00030f         2.661882
1  seg_0012b5         5.644592
2  seg_00184e         5.080967
3  seg_003339         8.406590
4  seg_0042cc         7.287800

In [64]:
df_gb.head()

            time_to_failure
seg_id
seg_00030f         2.667396
seg_0012b5         5.571929
seg_00184e         5.243408
seg_003339         8.421476
seg_0042cc         6.799405

In [57]:
df_gb.index = df_gb.seg_id

In [63]:
df_gb.drop(['seg_id'], axis=1, inplace=True)

In [66]:
df_gb.to_csv('submissions/earthq_submission_08feb_rnn_plus_gb.csv')